TestFolder/XMLTransform/Message.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">

  <xs:element name="TransformedMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Sender" type="xs:string"/>
        <xs:element name="Recipient" type="xs:string"/>
        <xs:element name="Content" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>